@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
  font-family: "Poppins", sans-serif;
}

header {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  right: 0;
  background-color: #fff;
}

.navbar {
  display: flex;
  align-items: center;

  padding: 13px 17.7rem 2px 18rem;

  border-bottom: 1px solid rgb(219, 219, 219);
  justify-content: space-between;
}

.navigation-search {
  background: #efefef;
  position: relative;
  padding: 0 14px;
  width: 285px;
  left: 4rem;
  bottom: 0.3rem;
  height: 35px;
  display: flex;
  align-items: center;
  flex: 0 1 auto;
  border-radius: 9px;
}
.navigation-search svg {
  margin-left: 5px;
  display: block;
}
.navigation-search input {
  background: #efefef;
  border: 0;
  margin-top: 3px;
  padding: 3px 16px;
}
.navigation-search input:focus {
  outline: none;
}
.navigation-search input::placeholder {
  color: #9fa1a1;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 0.5px;
}
.logo-container .logo {
  background: cover no-repeat;
  width: 110px;
  height: auto;
}
.icons {
  padding-right: 1.5rem;
}
.icons ul {
  display: flex;
  gap: 1.4rem;
  list-style: none;
}

.dropdown-container {
  z-index: 11;
  position: fixed;
  background: #fff;
  display: none;
  width: 13%;
  top: 3.5rem;
  border-radius: 6px;
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
  right: 19%;
  text-align: left;
}
.dropdown-container .dp {
  border-bottom: 2px solid rgb(219, 219, 219);
}
.dropdown-container .menu-links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
}
.dropdown-container .menu-links ul li {
  padding-bottom: 8px;
  width: 100%;
  padding-top: 8px;
  color: #262626;
  padding-left: 13px;
  font-weight: 400;
  cursor: pointer;
  font-size: 15px;
}
.dropdown-container .menu-links ul li:hover {
  background: rgb(243, 243, 243);
}
.dropdown-container .menu-links ul li svg {
  margin: 0 5px -3px 0;
}
.user {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.dropdown-container.active {
  display: block;
  z-index: 9999999;
}
#profile_btn {
  cursor: pointer;
}
.activity-feed {
  position: fixed;
  background: #fff;
  display: none;
  width: 32.5%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 49.5%;
  top: 3.5rem;
  border-radius: 6px;
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
  right: 19.5%;
  text-align: left;
  z-index: 3;
}
.activity-feed.active {
  display: block;
}
.activity-lists {
  height: 100vh;
}
.follow-requests {
  display: flex;
  align-items: center;
  padding: 11px 17px 17px 17px;
  flex-direction: row;
  border-bottom: 1px solid rgb(219, 219, 219);
  cursor: pointer;
  justify-content: space-between;
}
.right-section {
  display: flex;
}
.logoimg img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.logoimg .over-img {
  margin-top: 5px;
}
.logoimg .overlay-img {
  position: absolute;
  top: 1.6rem;
  left: 1.7rem;
  width: 37px;
  height: 37px;
  object-fit: cover;
}
.request-info {
  margin-left: 1.5rem;
  margin-top: 1rem;
}
.request-info h4 {
  color: #262626;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin: -3px 0 -4px;
}
.request-info p {
  font-size: 14px;
  color: #8e8e8e;
  font-weight: 400;
}
.left-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.left-section .arrow {
  margin-top: 15px;
}

.left-section svg {
  transform: rotate(90deg);
}
.blue-dot {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  margin-top: 7px;
  margin-right: 15px;
  background-color: #0095f6;
}
.weekly-activity .heading {
  padding: 15px 17px 7px 17px;
}
.weekly-activity .heading h4 {
  color: #262626;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  /* margin: -3px 0 -4px; */
}
.weekly-activity .activity-week {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.weekly-activity .activity-week .activity-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 11px 0 0 13px;
}
.weekly-activity .activity-week .activity-info .image {
  width: 50px;
  height: 47px;
}
.weekly-activity .activity-week .activity-info .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.weekly-activity .activity-week .activity-info .info {
  display: flex;
  padding: 0 17px;
}
.weekly-activity .activity-week .activity-info .info h5 {
  color: #262626;
  font-weight: 500;
  font-size: 14px;
}
.weekly-activity .activity-week .activity-info .info p {
  color: #262626;
  font-weight: 400;
  font-size: 13px;
}
.weekly-activity .activity-week .activity-info .info span {
  color: #00376b;
  font-weight: 400;
  font-size: 13px;
}
.weekly-activity .activity-week .activity-img {
  padding: 0 11px 0 0;
}
.weekly-activity .activity-week .activity-img img {
  width: 46px;
  height: 46px;
  object-fit: cover;
}
.create-post {
  width: 33rem;
  position: fixed;
  top: 50%;
  z-index: 99999999;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  height: 36rem;
  max-height: calc(100% - 40px);
  border-radius: 16px;
  background: #fff;
}
.create-post .head-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 0;
  border-bottom: 1px solid rgb(219, 219, 219);
}
.create-post .head-text h4 {
  font-weight: 500;
  font-size: 14px;
}
.create-post .create-post-icons {
  display: flex;
  align-items: center;
  margin: 11rem auto;
  justify-content: center;
  flex-direction: column;
}
.create-post .create-post-icons h3 {
  color: #262626;
  font-size: 20px;
  line-height: 26px;
  padding: 10px 0;
  font-weight: 300;
}
.create-post .create-post-icons .btn {
  background-color: #0095f6;
  border-radius: 4px;
  color: #fff;
  margin: 10px 0;
  padding: 5px 9px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid transparent;
}
.back-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.85);
}
.close-bg {
  display: none;
  position: fixed;
  top: 1rem;
  right: 1.1rem;
  cursor: pointer;
  z-index: 9999999999;
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 0 0;
  }
  .navigation-search {
    display: none;
  }
}

main {
  width: 100%;
  z-index: 3;
  position: relative;
  height: 100vh;
  background-color: #fafafa;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: fixed;
  top: 10.5%;
  left: 19%;
  margin: auto;
}
.grid {
  display: flex;
  gap: 0;
  height: 40.5rem;
  width: 73rem;
}
.chat-list {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
  width: 350px;
  justify-content: center;
  flex-direction: column;
}
.chat-list .account {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 5px;
  padding-bottom: 40px;
  font-size: 15px;
  font-weight: 500;
  height: 60px;
  width: 100%;
  z-index: 2;
  color: #262626;
  background-color: #fff;
  border-top: 1px solid rgb(219, 219, 219);
  border-left: 1px solid rgb(219, 219, 219);
  border-right: 1px solid rgb(219, 219, 219);
  justify-content: center;
}
.account-name {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: row;
  padding: 0 6rem;
}
.account-name span {
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
}
.chat-list .account-name span svg {
  transform: rotate(180deg);
}
.chat-list .account .edit {
  margin-top: 5px;
  margin-right: 10px;
  cursor: pointer;
}
.account-list {
  display: flex;
  color: #262626;
  background-color: #fff;
  border: 1px solid rgb(219, 219, 219);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 40rem;
  overflow-y: scroll;
  width: 350px;
}
.account-list ul {
  width: 100%;
  height: 100%;
  list-style: none;
}
.account-list ul li {
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}
.account-list ul li:hover {
  background-color: #f7f7f7;
}
.account-list ul li .account-img {
  display: flex;
  align-items: left;
  margin: 15px;
  justify-content: start;
  width: 57px;
  height: 55px;
}
.account-list ul li .account-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.account-list ul li .account-info h4 {
  font-weight: 400;
  color: #262626;
  font-size: 13px;
}
.account-list ul li .account-info img {
  width: 14px;
  height: 14px;
  object-fit: cover;
  margin-top: 2px;
}
.account-list ul li .account-info p {
  font-weight: 400;
  color: #8e8e8e;
  font-size: 12px;
}
.chat-inbox {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 10;
  position: relative;
  background-color: #fff;
  border-top: 1px solid rgb(219, 219, 219);
  border-right: 1px solid rgb(219, 219, 219);
  border-bottom: 1px solid rgb(219, 219, 219);
  width: 50%;
}
.chat-inbox .Send-mssg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.chat-inbox .Send-mssg svg {
  margin-bottom: 10px;
}
.chat-inbox .Send-mssg h3 {
  color: #262626;
  font-weight: 100;
  font-size: 23px;
  margin-bottom: 10px;
}
.chat-inbox .Send-mssg p {
  color: #8e8e8e;
  font-weight: 100;
  font-size: 14px;
  margin-bottom: 10px;
}
.chat-inbox .Send-mssg .btn {
  background-color: #0095f6;
  border-radius: 4px;
  color: #fff;
  margin: 10px 0;
  padding: 5px 9px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid transparent;
}
.switch-account {
  width: 33rem;
  position: fixed;
  top: 33%;
  z-index: 99999999;
  width: 400px;
  display: none;
  border-radius: 16px;
  max-height: calc(100% - 40px);
  left: 38%;
}
.switch-account .account-text {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  flex-direction: row;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  height: 43px;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  align-items: center;
}
.switch-account .account-text h3 {
  color: #262626;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}
.switch-account .account-text .cross-icon {
  position: relative;
  cursor: pointer;
  right: 22px;
  top: 4px;
}
.switch-account .account-info {
  background-color: #fff;
  height: 10rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.switch-account .account-info .account-right {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
.switch-account .account-info .account-right h3 {
  font-weight: 500;
  color: #262626;
  font-size: 15px;
  padding: 0px 7px;
  cursor: pointer;
}
.switch-account .account-info .account-left {
  padding: 20px 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
.existing-account {
  display: flex;
  background-color: #fff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top: 1px solid #dbdbdb;
  align-items: center;
  justify-content: center;
}
.existing-account h3 {
  padding: 10px 0;
  color: #0095f6;
  font-size: 15px;
  cursor: pointer;
  font-weight: 500;
}
.new-Mssg {
  width: 33rem;
  position: fixed;
  top: 15%;
  z-index: 99999999;
  width: 380px;
  display: none;
  border-radius: 16px;

  max-height: calc(100% - 40px);
  left: 38%;
}
.new-Mssg .navigator {
  padding: 10px 15px;
  padding-top: 15px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  height: 43px;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
}
.new-Mssg .navigator .close {
  cursor: pointer;
}

.new-Mssg .navigator .New_mssg h4 {
  color: #262626;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}
.new-Mssg .navigator .next_mssg h4 {
  color: #0095f6;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
}
.new-Mssg .SearchInput {
  width: 100%;
  background-color: #fff;
}
.new-Mssg .SearchInput .input_container {
  padding: 12px 12px;
  display: flex;
  align-items: center;
  overflow-y: scroll;
  justify-content: start;
  border-bottom: 1px solid #dbdbdb;
}
.new-Mssg .SearchInput .input_container h5 {
  white-space: pre;
  color: #262626;
  font-weight: 500;
  padding-right: 15px;
  font-size: 17px;
}
.new-Mssg .SearchInput .input_container input {
  padding: 8px 0;
  width: 275px;
  border: none;
  outline: none;
  background-color: #fff;
}
.new-Mssg .SearchInput .input_container input::placeholder {
  color: rgb(192, 192, 192);
  font-size: 14px;
  font-weight: 400;
}
.new-Mssg .accounts_ {
  background-color: #fff;
}
.new-Mssg .accounts_ ul h3 {
  color: #262626;
  font-weight: 500;
  padding: 8px 10px;
  font-size: 15px;
}
.new-Mssg .accounts_ ul {
  display: flex;
  align-items: start;
  overflow-y: scroll;
  flex-direction: column;
  height: 25rem;
  justify-content: start;
}
.new-Mssg .accounts_ ul li a {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}
.new-Mssg .accounts_ ul li {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;

  cursor: pointer;
}
.new-Mssg .accounts_ ul li:hover {
  background: rgb(243, 243, 243);
}
.new-Mssg .accounts_ ul li .account-img {
  display: flex;
  align-items: left;
  margin: 15px;
  justify-content: start;
  width: 57px;
  height: 55px;
}
.new-Mssg .accounts_ ul li .account-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.new-Mssg .account-info h4 {
  font-weight: 400;
  color: #262626;
  font-size: 13px;
}
.new-Mssg .account-info h4 img {
  width: 16px;
  height: 16px;
  object-fit: cover;
  margin-top: 10px;
}
.new-Mssg .account-listss .accounts_ {
  border-bottom-right-radius: 16px !important;
  border-bottom-left-radius: 16px;
}
